/******************************************************************

Creare Design Visuals Template Stylesheet

*******************************************************************/


/*********************
GENERAL STYLES
**********************/

body {
	padding:0;
	margin:0;
	text-align:center;
	font-family:'Raleway', arial, sans-serif;
	background:#222;
}

/* Copyright banner styles */

#copyright {
	z-index:10;
	position:fixed;
	height:51px;
	top:70px;
	width:700px;
	left:50%;
	margin-left:-350px;
	border-radius:10px;
	background:#fff;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 16px 0px rgba(0, 0, 0, 0.5);
	text-align:center;
}
#copyright img {
	float:left;
	margin-right:10px;
	padding:7px 0 0 10px;
}
#copyright p {
	float:left;
	padding:5px;
	font-size:13px;
}
#copyright i {
	margin-right:-2px;
	cursor:pointer;
	background:#444;
	display:block;
	float:right;
	color:#eee;
	padding-top:10px;
	height:42px;
	font-size:30px;
	width:80px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}

.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-webkit-moz-fill-mode: both;
	animation-fill-mode: both;
}
.overlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: rgba(0, 0, 0, 0.5);
	z-index:2;
}

@-webkit-keyframes fadeOutUp {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
}
 @-moz-keyframes fadeOutUp {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
 -moz-transform: translate3d(0, -100%, 0);
 -webkit-transform: translate3d(0, -100%, 0);
 -ms-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
}
 @keyframes fadeOutUp {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
 -moz-transform: translate3d(0, -100%, 0);
 -webkit-transform: translate3d(0, -100%, 0);
 -ms-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
}
.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}

/* end banner styles */

/* Prototype view styles */

.buttons {
	position:fixed;
	top:30px;
	left:50px;
	z-index:1;
}

.buttons img {
	margin-bottom:15px;
}

.buttons  ul {
	padding:0;
	margin:0;
}


.buttons li {
	list-style:none;
	margin-bottom:10px;
}
.buttons i {
	margin-bottom:1px;
	font-size:24px;
}
.buttons a {
	opacity:0.7;
	display:block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	font-size:10px;
	font-family:"Raleway", sans-serif;
	font-weight:300;
	text-transform:uppercase;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
	background:#222;
	border:1px solid #444;
	border-radius:5px;
	width:100px;
	padding-top:10px;
	height:45px;
	text-align:center;
	color:#ddd;
	font-size:10px;
}
.buttons a:hover {
	background:#252525;
	opacity:1;
}
.buttons span {
	display:block;
}

@media only screen and ( max-width: 1150px) {  
	.buttons a {
		opacity:0.3;
	}
}

.view:not(.first) {
	display:none; /* stops other device views appearing */
}

/*********************************************
SPECIFIC VIEW STYLES (add your styles here)
**********************************************/

