// Typography

$f-primary: "Lato", Arial, sans-serif;

// Colors

$c-action: #b8e22b;
$c-darkgrey: #2c2c2c;
$menu-bg: #fff;
$body-bg: #222;

// Layout

$menu-width: 275px;
$visual-width: 1400;

// Media Queries

$min: min-width;
$max: max-width;
$x-small: 480;
$small: 599;
$medium: 768;
$large: 960;
$x-large:1280;
$super:1600;